/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF9DB; /* Light cream background */
}

/* Invitation background image */
.invitation {
    position: relative;
    background-image: url('https://drive.google.com/file/d/1bpHt-eIw0suwgPKAAjz8qQfYOjgT609i/view?usp=sharing');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.invitation-text {
    background-color: rgba(255, 147, 69, 0.8); /* Traditional Indian Orange */
    padding: 30px;
    border-radius: 10px;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #9C1B1F; /* Deep Red */
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
    font-style: italic;
    color: #50238A; /* Royal Purple */
}

/* Floating Menu Bar */
.menu-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #9C1B1F; /* Deep Red */
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.menu-item {
    color: #fff;
    cursor: pointer;
}

.menu-item img {
    width: 30px;
    height: auto;
}

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    z-index: 100;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: #FF742E; /* Traditional Indian Orange */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    background-color: #FF742E;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
